name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  PYTHON_VERSION: 21
jobs:

  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
            

    steps:
     - name: checkout
       uses: actions/checkout@v4
     - name: Set up Python
       uses: actions/setup-python@v4
       with:
         python-version: ${{ env.PYTHON_VERSION }}
  
     - name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
         
